// color for header and footer
$mainDark: #2d2d2d;

// color for buttons, continue shopping
$mainOrange: #ed7801;

// color for unactive categories
$secondaryOrange: #fbe6d6;

// color for active category, navbar menu
$orangeText: #faaf18;

// color for text
$brownText: #8b542f;

// color for privacy
$greyText: #919191;

// border
$mainborder: #e0e0e0;

// background
$mainBackground: #f9f4f2;